.profile {
    margin: 36px 0 51px 0;

    display: flex;

}


@media screen and (max-width: 1023px) {
    .profile {
        display: grid;
        justify-items: center;


        margin-bottom: 36px;
    }
}